.group-top
  = @group.name
  スケジュール
  = link_to '追加', new_group_task_path(@group.id), class: "group-top__new"

.group-show-btn
  .group-show-btn__title
    %span= @date.year
    %span>年&emsp;
    %span= @date.month
    %span>月
  .dayoftheweek
    - @wdays.each_with_index do |wday, i|
      - if i == 0
        .dayoftheweek__content
          = wday
      - else
        .dayoftheweek__content2
          = wday
  .calendar-content.calendar-clickevent
    - make_calendar[:start_week].each_with_index do |week, i|
      = render partial: 'calendar-content', locals: { week: week, i: i, task: @task}

    - make_calendar[:middle_week].each do |middle|
      - middle.each_with_index do |week, i|
        = render partial: 'calendar-content', locals: { week: week, i: i, task: @task}

    - make_calendar[:end_week].each_with_index do |week, i|
      = render partial: 'calendar-content', locals: { week: week, i: i, task: @task}