.group-top
  = @group.name
  スケジュール
  = link_to new_group_task_path(@group.id), class: "group-task-new__btn__path" do
    = icon('fa', 'edit', class: "group-top__icon")
  = link_to groups_path, class: "group-top__index" do
    = icon('fa', 'arrow-circle-left', class: "group-top__left-icon")

.group-show-btn
  .group-show-btn__title
    %span= @date.year
    %span>年&emsp;
    %span= @date.month
    %span>月
    = link_to group_path(@group.id, type: 'pre', count: @count), class: "prev-calendar" do
      = icon('fa', 'chevron-circle-left', class: "calendar__prev")
    = link_to group_path(@group.id, type: 'next', count: @count), class: "naxt-calendar" do
      = icon('fa', 'chevron-circle-right', class: "calendar__next")
  .dayoftheweek
    - @wdays.each_with_index do |wday, i|
      - if i == 0
        .dayoftheweek__content
          = wday
      - else
        .dayoftheweek__content2
          = wday
  .calendar-content.calendar-clickevent
    - make_calendar(@count)[:start_week].each_with_index do |week, i|
      = render partial: 'calendar-content', locals: { week: week, i: i, task: @task, group: @group }

    - make_calendar(@count)[:middle_week].each do |middle|
      - middle.each_with_index do |week, i|
        = render partial: 'calendar-content', locals: { week: week, i: i, task: @task, group: @group }

    - make_calendar(@count)[:end_week].each_with_index do |week, i|
      = render partial: 'calendar-content', locals: { week: week, i: i, task: @task, group: @group }


.group-task-new
  .group-task-new__top
    %span 予定はありません
  .group-task-new__btn
    = link_to new_group_task_path(@group.id), class: "group-task-new__btn__path" do
      %span 作成する